.js-clock {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.js-clock > h1 {
  color: white;
  font-size: 50px;
  font-weight: 800;
  text-shadow: 1px 1px 5px gray;
}
