.js-toDoForm {
  position: absolute;
  left: 20px;
  top: 70%;
}

.js-toDoForm > input {
  height: 20px;
  width: 100px;
  border-radius: 10px;
  border: none;
  outline: none;
  text-align: center;
  transition: ease-in-out 0.3s;
}

.js-toDoForm > input:focus {
  width: 300px;
  box-shadow: 1px 1px 3px black;
}

.js-toDoList {
  position: absolute;
  left: 20px;
  top: 73%;
}

li > button {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 50%;
  height: 20px;
  width: 20px;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
}

li {
  display: flex;
  margin: 5px 0px;
}
